  <tbody>
    <% @movies.each do |movie| %>
    <p id="notice"><%= notice %></p>


    <% if movie.movie.attached? %>
    <div class="content">
    <p><%= movie.created_at.to_s(:datetime) %></p>
    <p><%= link_to "#{movie.cat.name}ちゃん",cat_path(movie.cat.id) %></p>
    <p><%= movie.cat.cat_type.name %></p>
          <div class='title'>
        <%= movie.title %>
      </div>
    <video src="<%= rails_blob_path(movie.movie) %>" type="video/mp4" controls></video>

      <div class='text'>
        <%= movie.text %>
      </div>
      <div class='user-name'>
        <%= link_to "#{movie.user.nickname}さん", user_path(movie.user.id) %>
      </div>
    </div>
    <% end %>

    <% end %>

  </tbody>