<!doctype html>
<html lang="ja" >
  <head>
    <title>CATFLIX</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link href="jumbotron.css" rel="stylesheet">
    <link href="../example.css" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'relord' %>
  </head>
  <body >
    <a id="skippy" class="sr-only sr-only-focusable" href="#content">
  <div class="container">
    <span class="skiplink-text">Skip to main content</span>
  </div>
</a>

<%= render "shared/header"%>

<main role="main">

  <!-- タイトル部分 -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">CATFLIX</h1>
      <p>猫好きの、猫好きによる、猫好きのための動画アプリ</p>
      <% if user_signed_in? %>
        <%= link_to '動画投稿はこちら', "#", class:"btn btn-danger btn-lg" %> 
      <% else %>
        <%= link_to '新規登録はこちら', new_user_registration_path, class:"btn btn-primary btn-lg" %> 
        <%= link_to 'ログインはこちら', new_user_session_path, class:"btn btn-info btn-lg" %>
      <% end %>
    </div>
  </div>
  <!--動画一覧-->
  <div class="container">
<<<<<<< Updated upstream
    <div class="row">
      <div class="col-md-4">
        <h2>見出し</h2>
        <p>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。</p>
        <p><a class="btn btn-secondary" href="#" role="button">詳しくみる &raquo;</a></p>
=======
    <p id="notice"><%= notice %></p>

<h1>新着動画</h1>
<div class="movie">
<table>

  <tbody>
    <% @movies.each do |movie| %>
    <p id="notice"><%= notice %></p>


    <% if movie.movie.attached? %>
    <div class="content">
    <p><%= movie.created_at.to_s(:datetime) %></p>
    <p><%= movie.cat.cat_type.name %></p>
          <div class='title'>
        <%= movie.title %>
      </div>
    <video src="<%= rails_blob_path(movie.movie) %>" type="video/mp4" controls></video>

      <div class='text'>
        <%= movie.text %>
      </div>
      <div class='user-name'>
        <%= "#{movie.user.nickname}さんの#{movie.cat.name}ちゃん" %>
>>>>>>> Stashed changes
      </div>
    </div>
    <hr>
  </div> 

</main>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>
  window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery-slim.min.js"><\/script>')
</script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script><script src="/docs/4.5/assets/js/vendor/anchor.min.js"></script>
<script src="/docs/4.5/assets/js/vendor/clipboard.min.js"></script>
<script src="/docs/4.5/assets/js/vendor/bs-custom-file-input.min.js"></script>
<script src="/docs/4.5/assets/js/src/application.js"></script>
<script src="/docs/4.5/assets/js/src/search.js"></script>
<script src="/docs/4.5/assets/js/src/ie-emulation-modes-warning.js"></script>
  </body>
</html>