<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  
  
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <%= link_to 'CATFLIX', root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%if user_signed_in?%>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
     
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%="#{current_user.nickname}さん"%></a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a><%= link_to 'ネコちゃん登録', new_cat_path, method: :get, class: "dropdown-item" %></a>
          <a><%= link_to 'マイページ', user_path(current_user.id), method: :get , class: "dropdown-item" %></a> 
          <a><%= link_to 'ログアウト', destroy_user_session_path, method: :get, class: "dropdown-item" %></a>
        </div>
      </li>
    </ul>
  <% end %>
    <form class="form-inline my-2 my-lg-0">

      <input class="form-control mr-sm-2" type="text" placeholder="検索" aria-label="検索">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">検索</button>
    </form>
  </div>
</nav>